<appSettings>   
   <!-- Twilio-->
   <add key="TwilioSid" value="[YOUR_TWILIO_ACCOUND_SID]" />
   <add key="TwilioToken" value="[YOUR_TWILIO_AUTH_TOKEN]" />
  
   <!-- Pusher-->
   <add key="PusherAppId" value="[YOUR_PUSHER_APP_ID]" />
   <add key="PusherKey" value="[YOUR_PUSHER_KEY]" />
   <add key="PusherSecret" value="[YOUR_PUSHER_SECRET]" />

   <!-- Authentication -->
   <add key="Realm" value="SMSBarista"/>
   <add key="Username" value="[TWILIO_BARISTA_USERNAME]"/>
   <add key="Password" value="[TWILIO_BARISTA_PASSWORD]"/>
</appSettings>
